table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
    background-color: gold; 
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: center;
}
